<style>
	#page1 table td {text-align: left; }
</style>
<div id="page1" style="font-size:12px;">
    <p class="no-indent">Hak Cipta © 2018 pada Kementerian Pendidikan dan Kebudayaan 
    	<br>Dilindungi Undang-Undang</p>
    
    <p class="no-indent"><em><strong>Disklaimer</strong>: Buku ini merupakan buku siswa yang dipersiapkan Pemerintah dalam rangka
implementasi Kurikulum 2013. Buku siswa ini disusun dan ditelaah oleh berbagai pihak di bawah
koordinasi Kementerian Pendidikan dan Kebudayaan, dan dipergunakan dalam tahap awal
penerapan Kurikulum 2013. Buku ini merupakan “dokumen hidup” yang senantiasa diperbaiki,
diperbarui, dan dimutakhirkan sesuai dengan dinamika kebutuhan dan perubahan zaman. Masukan
dari berbagai kalangan yang dialamatkan kepada penulis dan laman http://buku.kemendikbud.go.id
atau melalui email buku@kemdikbud.go.id diharapkan dapat meningkatkan kualitas buku ini.</em></p>

	<p class="no-indent"><em>Katalog Dalam Terbitan (KDT)</em></p>
	<div style="background-color:#ff55722e;padding:5px">
	<p class="no-indent mb-0">Indonesia. Kementerian Pendidikan dan Kebudayaan.</p>
	<p class="mb-0">Senang Belajar Matematika / Kementerian Pendidikan dan Kebudayaan. -- Jakarta: Kementerian
	Pendidikan dan Kebudayaan, 2018. </p>
	<p>vi, 258 hlm. : ilus. ; 29,7 cm. </p>

	<p class="mb-0">Untuk SD/MI Kelas V </p>
	<p class="mb-0">ISBN 978-602-244-178-6 (jilid lengkap) </p>
	<p>ISBN 978-602-244-180-9 (jilid 2) </p>

	<p class="mb-0">1. Matematika -- Studi dan Pengajaran </p>			
	<p class="mb-0">I. Judul </p>
	<p>II. Kementerian Pendidikan dan Kebudayaan </p>
	<p class="text-center">372</p>
	</div>
	
	<table class="mt-4">
		<tr>
			<td>Penulis</td>
			<td>: Purnomosidi, Wiyanto, Safiroh, dan Ida Gantiny.</td>
		</tr>
		<tr>
			<td>Penelaah</td>
			<td>: Swasono Rahardjo dan Tutik Arindah.</td>
		</tr>
		<tr>
			<td>Pe-review</td>
			<td>: -</td>
		</tr>
		<tr>
			<td>Penyelia Penerbitan</td>
			<td>: Pusat Kurikulum dan Perbukuan, Balitbang, Kemendikbud.</td>
		</tr>
	</table>

</div>
