<div class="header">
	<img src="content/img/header-ayo-amati.png" style="width: 100%" alt="">
</div>

<div class="container text-center">
	<img src="content/img/2/1.png" style="width: 70%;" alt="">

	<p>Edo membawa buah melon `1/8` bagian. Beni membawa melon `1/2` bagian. Mereka
menggabungkan buah melon yang mereka bawa. Apabila kedua bagian melon
tersebut digabungkan, dapatkah kamu menyebutkan pecahan dari gabungan buah
melon tersebut?</p>

	<div class="text-left rumus-sm">
		<img src="content/img/2/2.png" class="align-middle mr-5" style="width:40%" alt="">
		<span class="align-middle">`1/8 + 1/2 = ...`</span>
	</div>
</div>

<script>if(typeof MathJax !== 'undefined') {MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}</script>