<div class="header">
	<img src="content/img/header-asyik-mencoba.png" style="width: 100%" alt="">
</div>

<div class="container text-center no-indent">
	<p><strong>Perhatikan gambar berikut!</strong></p>
	<p class="text-left"><strong>Tuliskan pecahan-pecahannya dengan pecahan senilai. Buatlah penyebutnya sama! Kerjakan di buku tugasmu!</strong></p>

	<ol class="soal">
		<li class="mb-3"><img src="content/img/4/1.png" alt=""></li>
		<li class="mb-3"><img src="content/img/4/2.png" alt=""></li>
		<li class="mb-3"><img src="content/img/4/3.png" alt=""></li>
		<li class="mb-3"><img src="content/img/4/4.png" alt=""></li>
		<li class="mb-3"><img src="content/img/4/5.png" alt=""></li>
	</ol>
</div>
<script>if(typeof MathJax !== 'undefined') {MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}</script>