<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="box-miring-2-reverse mb-2">
				<div class="box-miring box-miring-2">
					<h3 class="text-danger">KPK</h3>
					<p>KPK dari 12 dan 16 adalah...</p>
					<p>Cara mencari</p>
					<ol>
						<li>Kelipatan 12 adalah 12, 24, <span class="boxred">48</span>, 60, 72, <span class="boxred">96</span>,...</li>
						<li>Kelipatan 16 adalah 16, 32, <span class="boxred">48</span>, 64, 80, <span class="boxred">96</span>,...</li>
					</ol>
					<p>Kelipatan bersama dari 12 dan 16 adalah 48, 96, ...</p>
					<p>Jadi KPK dari 12 dan 16 adalah 48.</p>
				</div>
			</div>
			<br>
		</div>
		<div class="col-8">
			<div class="box-kelipet box-kelipet-2 no-indent">
				<h3 class="text-center">Penjumlahan Pecahan</h3>
				
				<p><em>Contoh:</em></p>
				<p class="mb-3">`2/3 + 1/4 = ...`</p>

				<p><em>Penyelesaian:</em></p>
				<p class="mb-3">`2/3 + 1/4 = ...`</p>

				<p>Mencari KPK dari 3 dan 4.</p>
				<p>Kelipatan 3 adalah 3, 6, 9, <span class="boxred">12</span>, 15, 18, 21, <span class="boxred">24</span>, ...</p>
				<p>Kelipatan 4 adalah 4, 8, <span class="boxred">12</span>, 16, 20, <span class="boxred">24</span>, ...</p>
				<p>KPK dari 3 dan 4 adalah 12.</p>
			</div>
		</div>
	</div>
</div>

<div class="header">
	<img src="content/img/header-asyik-mencoba.png" style="width: 100%" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="box-miring-reverse mb-5">
				<div class="box-miring box-miring-1">
					<h3>Literasi</h3>
					<p>Dahulu kala pecahan ditulis
					sebagai bilangan bersusun,
					tanpa tanda garis medatar
					antara pembilang dan
					penyebut.</p>
					<p>Adalah Al-Hassar
					seorang ahli Matematika
					dari Maghribi di kawasan
					Afrika bagian utara pada
					abad ke-12 mengenalkan
					tanda garis mendatar antara
					pembilang dan penyebut.
					Tanda itu memudahkan
					sehingga dipakai di seluruh
					dunia hingga sekarang.</p>
				</div>
			</div>
			<br>
		</div>
		<div class="col-8">
			<h4>Lengkapilah pecahan-pecahan senilai di bawah ini!</h4>
			<ol>
				<li>`2/5 + 1/4 = .../20 + .../20 = .../20`</li>
				<li>`2/3 + 1/5 = .../15 + .../15 = .../15`</li>
				<li>`3/5 + 1/3 = .../... + .../... = .../...`</li>
				<li>`1/6 + 3/4 = .../... + .../... = .../...`</li>
				<li>`5/6 + 4/5 = .../... + .../... = .../...`</li>
			</ol>

			<h4>Kerjakan penjumlahan pecahan di bawah ini!</h4>
			<div class="row">
				<div class="col-6">
					<ol>
						<li>`4/5 + 3/4 = ...`</li>
						<li>`2/7 + 1/4 = ...`</li>
						<li>`2/5 + 5/8 = ...`</li>
					</ol>
				</div>
				<div class="col-6">
					<ol start="4">
						<li>`5/6 + 2/7 = ...`</li>
						<li>`5/7 + 4/9 = ...`</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>

<script>if(typeof MathJax !== 'undefined') {MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}</script>