<div class="header">
	<img src="content/img/header-aktivitas.png" style="width: 100%" alt="">
</div>

<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="box-miring-reverse mb-5">
				<div class="box-miring box-miring-1">
					<h3>Pengurangan Pecahan</h3>
					<p>engurangan pecahan
					terlebih dahulu dengan
					menyamakan penyebut.</p>
					<p>Ubah pecahan menjadi
					pecahan lain senilai
					sehingga penyebutnya
					sama.</p>
					<p>Contoh:</p>
					<p>`1/2 - 1/4 = ...`</p>
					<p>`2/4 - 1/4 = 1/4`</p>
				</div>
			</div>

			<div class="box-miring box-miring-1">
				<h3 class="text-danger">Ayo, Sportif</h3>
				<p>Lakukan kegiatan dengan kerjasama dengan teman. Lakukan dengan jujur dan mandiri.</p>
			</div>
			<br>
		</div>
		
		<div class="col-8">
			<div class="box-kelipet">
				<h3>Bermain Pengurangan Bilangan</h3>

				<h3 class="text-danger mb-0">Ayo, Kerja Bersama!</h3>

				<ol class="pt-2">
					<li>Buatlah kelompok berpasangan, setiap kelompok dua orang.</li>
					<li>Buatlah pecahan `1/2` bagian dari kertas lipat.
						<img class="img-fluid" src="content/img/6/1.png" alt="">
					</li>
					<li>Pecahan `1/4` diwakili bagian yang diarsir.
						<img class="img-fluid" src="content/img/6/2.png" alt="">
					</li>
					<li>Perhatikan `1/2` bagian dibagi 2.
						<img class="img-fluid" src="content/img/6/3.png" alt="">
					</li>
					<li>Pecahan `1/2` menjadi ... </li>
					<li>Pecahan `1/4` tetap ... </li>
					<li>Lakukan pengurangan dari dua pecahan tersebut!</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<script>if(typeof MathJax !== 'undefined') {MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}</script>