<style>
.book__content {overflow: hidden;}
</style>

<div class="container mb-3">
	<div class="row">
		<div class="col-8">
			<div class="box-kelipet box-kelipet-2 no-indent">
				<h3 class="text-center">Pengurangan Pecahan</h3>
				
				<p><em>Contoh:</em></p>
				<p class="mb-3">`4/5 - 3/4 = ...`</p>

				<p><em>Penyelesaian:</em></p>
				<p class="mb-3">`4/5 - 3/4 = ...`</p>

				<p>Carilah Kelipatan Persekutuan Terkecil (KPK) dari penyebut pecahan tersebut, yaitu 5 dan 4.</p>
				<p class="mb-3">KPK (5, 4) = 20. Selanjutnya ubah pecahan menjadi pecahan senilai dengan penyebut 20.</p>

				<p class="mb-3">`4/5 - 3/4 = (20:5*4)/20 - (20:4*3)/20`</p>
				<p class="mb-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				`= 16/20 - 15/20 = 1/20`</p>
				<p class="mb-3">Jadi, `4/5 - 3/4 = 1/20`</p>
			</div>
		</div>
		
		<div class="col-4">
			<div class="box-miring-3-reverse mb-5" style="width: 130px;position: absolute; top: 300px">
				<div class="box-miring box-miring-3">
					<h3 class="text-danger">Literasi</h3>
					<p>Bilangan pecahan pertama kali digunakan oleh bangsa Mesir kuno sekitar tahun 1600 SM. Hal ini dapat dilihat dari tulisan di Papyrus Ahnes.</p>
					<p>Pada saat itu, bangsa Mesir menggunakan pecahan yang satuan yaitu pecahan yang pembilangnya satu untuk menyatakan perbandingan. Adapun pecahan-pecahan satuan secara bersamaan. Pecahan tersebut ditulis dengan menggunakan bahasa Hieroglyph.</p>
					<p>Pada saat bersamaan dengan bangsa Mesir Kuno, bangsa Cina Kuno mulai mengenal pecahan.</p>
					<p class="text-info"><small>Selengkapnya dapat dibaca di <a href="http://heaventhink.blogspot.com">http://heaventhink.blogspot.com</a></small></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="header">
	<img src="content/img/header-asyik-mencoba.png" style="width: 100%" alt="">
</div>

<div class="container mb-5">
	<div class="row">
		<div class="col-8">
			<h4>Lengkapilah pecahan-pecahan senilai di bawah ini!</h4>
			<ol>
				<li>`4/5 - 1/4 = .../20 - .../20 = .../20`</li>
				<li>`1/3 - 1/5 = .../15 - .../15 = .../15`</li>
				<li>`3/5 - 1/3 = .../... - .../... = .../...`</li>
				<li>`4/6 - 2/4 = .../... - .../... = .../...`</li>
				<li>`5/6 - 4/5 = .../... - .../... = .../...`</li>
			</ol>

			<h4>Kerjakan pengurangan pecahan di bawah ini!</h4>
			<div class="row">
				<div class="col-6">
					<ol>
						<li>`7/8 - 3/4 = ...`</li>
						<li>`5/7 - 1/4 - ...`</li>
						<li>`3/4 - 5/9 = ...`</li>
					</ol>
				</div>
				<div class="col-6">
					<ol start="4">
						<li>`5/6 - 2/9 = ...`</li>
						<li>`6/7 - 5/8 = ...`</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>


<script>if(typeof MathJax !== 'undefined') {MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}</script>