<div class="container">
	<div class="box-kelipet box-kelipet-3 no-indent">
		<h3>Penjumlahan dan Pengurangan Pecahan Campuran</h3>
		<h4 class="text-danger">Mengubah ke bentuk pecahan biasa</h4>

		<p class="mb-3">Pecahan campuran, contohnya `2 3/5` dan `3 5/6` dapat diubah menjadi pecahan biasa.</p>
		<p class="mb-3">Perhatikan contoh berikut!</p>
		<p class="rumus-lg mb-2">`2 3/5 = ((2*5)+3)/5 = 13/5`</p>
		<p class="rumus-lg">`3 5/6 = ((3*6)+5)/6 = 23/6`</p>
	</div>
</div>

<script>if(typeof MathJax !== 'undefined') {MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}</script>