<div class="header">
	<img src="content/img/header-mencoba.png" style="width: 100%" alt="">
</div>

<div class="container">
	<h4>Kerjakan penjumlahan dan pengurangan pecahan nomor 1 sampai 7!</h4>

	<p>Jawabanmu cocokkan pada pecahan yang ada di sebelah kanan. Kemudian, huruf-
	huruf tersebut disusun sesuai nomor jawaban di petak bawahnya, sehingga mem-
	bentuk kata! (Salinlah di buku tulismu!)</p>

	<div class="boxred p-3">
		<div class="row">
			<div class="col-5 p-4" style="background-color: #EBEF3A">
				<div class="mb-2">
					<div class="number-circle" style="background-color: red">1</div>
					<div class="p-2" style="font-size: 18px; background-color: #FCCA8E; display: inline-block;">`1/3 + 3/5`</div>
				</div>
				<div class="mb-2">
					<div class="number-circle" style="background-color: red">2</div>
					<div class="p-2" style="font-size: 18px; background-color: #FCCA8E; display: inline-block;">`2/3 + 3/4`</div>
				</div>
				<div class="mb-2">
					<div class="number-circle" style="background-color: red">3</div>
					<div class="p-2" style="font-size: 18px; background-color: #FCCA8E; display: inline-block;">`3/7 + 1/5`</div>
				</div>
				<div class="mb-2">
					<div class="number-circle" style="background-color: red">4</div>
					<div class="p-2" style="font-size: 18px; background-color: #FCCA8E; display: inline-block;">`5/6 + 1/5`</div>
				</div>
				<div class="mb-2">
					<div class="number-circle" style="background-color: red">5</div>
					<div class="p-2" style="font-size: 18px; background-color: #FCCA8E; display: inline-block;">`5/7 + 1/4`</div>
				</div>
				<div class="mb-2">
					<div class="number-circle" style="background-color: red">6</div>
					<div class="p-2" style="font-size: 18px; background-color: #FCCA8E; display: inline-block;">`3/5 + 1/7`</div>
				</div>
				<div class="mb-2">
					<div class="number-circle" style="background-color: red">7</div>
					<div class="p-2" style="font-size: 18px; background-color: #FCCA8E; display: inline-block;">`5/8 + 1/6`</div>
				</div>
			</div>
			<div class="col-7">
				<img src="content/img/8/1.png" width="80%" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<img src="content/img/8/2.png" width="100%" alt="">
			</div>
		</div>
	</div>
</div>

<script>if(typeof MathJax !== 'undefined') {MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}</script>