.mjx-chtml {font-size: 85% !important;}
.rumus-lg .mjx-chtml {font-size: 100% !important;}

.box-miring {
	-webkit-box-shadow:rgba(89, 178, 255, 0.57) 0px 0px 4px 2px;
	-moz-box-shadow:rgba(89, 178, 255, 0.57) 0px 0px 4px 2px;
	box-shadow:rgba(89, 178, 255, 0.57) 0px 0px 4px 2px;
	padding: 5px;
	margin-top: 20px;
	position: relative;
	background: white;
	left: 10px;
}
.box-miring::before {
	content:" ";
	background-color: #5492CE;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -10;
}
.box-miring h3 {font-size: 12px; margin:0; margin-bottom: 10px;}
.box-miring p {text-align: left; text-indent: 0px; font-size: 12px; margin-bottom: 5px;}
.box-miring ol {padding-left: 15px;}
.box-miring ol li {font-size: 12px;}

.box-miring-1::before {
	transform: rotate(5deg);
	top: -3px;
	height: 102%;
}
.box-miring-reverse {
	transform: rotate(-5deg);
}
.box-miring-2::before {
	transform: rotate(-5deg);
	top: -5px;
	height: 103%;
}
.box-miring-2-reverse {
	transform: rotate(5deg);
}
.box-miring-3::before {
	transform: rotate(3deg);
	top: -3px;
	height: 101%;
}
.box-miring-3-reverse {
	transform: rotate(-3deg);
}

.box-kelipet {
	background-color:rgb(224, 223, 222);
	background-image: url(img/box-kelipet-atas.png), url(img/box-kelipet-bawah.png), -webkit-linear-gradient(-84deg,rgb(224, 223, 222) 20%,#fff 58%,#fff 58%,rgb(224, 223, 222) 80%);
	background-repeat:no-repeat, no-repeat;
	background-position-x:100%, 100%;
	background-position-y:0%, 100%;

	-webkit-box-shadow:rgba(120, 120, 120, 0.46) 0px 0px 10px 5px;
	-moz-box-shadow:rgba(120, 120, 120, 0.46) 0px 0px 10px 5px;
	box-shadow:rgba(120, 120, 120, 0.46) 0px 0px 10px 5px;

	padding: 10px 10px;
	margin-top: 20px;
	font-size: 16px;
}
.box-kelipet h3 {font-size: 16px; margin:0; margin-bottom: 10px;}
.box-kelipet ol li {margin-bottom: 10px; font-size: 16px;}
.box-kelipet ol {padding:20px;}
.box-kelipet p {margin: 0; font-size: 16px;}

.box-kelipet-2 {
	background-image: url(img/box-kelipet-2-atas.png), url(img/box-kelipet-2-bawah.png), -webkit-linear-gradient(-54deg,#FCEAEC 20%,#E3F5E6 58%,#E3F5E6 58%,#FDFDEB 80%);
	background-position-x:0%, 100%;
}

.no-indent > p {
	text-indent: 0;
}

ol.soal {
	max-width: 350px;
	counter-reset: nomor-soal;
	list-style: none;
	padding-left: 40px;
}
ol.soal li {
	margin: 0 0 0.5rem 0;
	counter-increment: nomor-soal;
	position: relative;
}
ol.soal li::before {
	content: counter(nomor-soal);
	color: #000;
	border: 2px solid orange;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	--size: 27px;
	left: calc(-1 * var(--size) - 10px);
	line-height: 24px;
	width: var(--size);
	height: var(--size);
	top: 5px;
	background: #FFC107;
	background-image: radial-gradient(yellow,#f06d06);
	border-radius: 50%;
	text-align: center;
	box-shadow: 0px 0px 6px #999;
}

.boxred {
	border: 1px solid red;
}

.number-circle {
	border-radius: 50%;
	font-size: 34px;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	color: white;
	vertical-align: middle; 
}