.page {
	width: 560px;
	height: 94vh;
	background-color: white;
	margin: 3vh auto;
	padding: 60px 40px;
	font-size: 15px;
	-webkit-box-shadow:rgba(105, 105, 105, 0.27) 2px 2px 6px 3px;
	-moz-box-shadow:rgba(105, 105, 105, 0.27) 2px 2px 6px 3px;
	box-shadow:rgba(105, 105, 105, 0.27) 2px 2px 6px 3px;
}
.sidebar {
	width: 100%;
	height: 100vh;
	background-color: white;
	margin: 0 0 0 -30px;
	padding: 20px;
	-webkit-box-shadow:rgba(105, 105, 105, 0.27) 2px 2px 6px 3px;
	-moz-box-shadow:rgba(105, 105, 105, 0.27) 2px 2px 6px 3px;
	box-shadow:rgba(105, 105, 105, 0.27) 2px 2px 6px 3px;
}
.page-body {
	width: 100%;
	height: 100%;
}
.page-body .simplebar-track {
	right: -30px;
}
.content {
	overflow-x: hidden;
}

.simplebar-scrollbar:before {
	background: #2196F3;
}
.page-body h3 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
    text-align: left;
}
.page-body h4 {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
    text-align: left;
}
.page-body p {
    text-indent: 2rem;
    text-align: justify;
}
.row {
    margin: 0;
}
.list-group {
}
.list-group-item {
    border-radius: 0 !important;
    padding: .5rem 1.25rem;
}
.page-body img {
    mix-blend-mode: multiply;
}

.simplebar-content-wrapper {
    background:
        /* Shadow covers */
        linear-gradient(178deg, #fff 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), #fff 70%) 0 100%,
        
        /* Shadows */
        radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}